version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    labels: ['T: Build']
    schedule:
      interval: daily

  - package-ecosystem: pub
    directory: /supernova
    labels: ['T: Build']
    schedule:
      interval: daily
    ignore:
      - dependency-name: '*'
        update-types:
          - version-update:semver-minor
          - version-update:semver-patch
  - package-ecosystem: pub
    directory: /supernova_flutter
    labels: ['T: Build']
    schedule:
      interval: daily
    ignore:
      - dependency-name: '*'
        update-types:
          - version-update:semver-minor
          - version-update:semver-patch
