name: supernova
publish_to: none

environment:
  sdk: ^3.10.0

resolution: workspace
dependencies:
  ansi_styles: ^0.3.1-dev.0
  characters: ^1.2.0
  chrono:
  collection: ^1.17.0
  color: ^3.0.0
  dart_either: ^2.0.0
  dartx: ^1.2.0
  email_validator: ^3.0.0
  freezed_annotation: ^3.1.0
  http: ^1.1.0
  intl: '>=0.17.0 <0.21.0'
  json_annotation: ^4.6.0
  meta: ^1.9.0
  oxidized: ^6.1.0
  path: ^1.8.1
  rxdart: ^0.28.0
  rxdart_ext:
    git:
      url: https://github.com/hoc081098/rxdart_ext.git
      ref: ed5ad736ac0b531348cebef9c1bf5a3130045e89
  stack_trace: ^1.11.0
  supernova_lints:
    path: ../supernova_lints
  time: ^2.1.0
  todo: ^2.0.1

dev_dependencies:
  build_runner: ^2.10.4
  freezed: ^3.2.0
  json_serializable: ^6.7.1
