name: supernova
publish_to: none

environment:
  sdk: ^3.0.0

dependencies:
  ansi_styles: ^0.3.1-dev.0
  characters: ^1.2.0
  chrono: ^0.1.0
  collection: ^1.17.0
  color: ^3.0.0
  dart_code_metrics:
    git:
      url: https://github.com/JonasWanke/dart-code-metrics.git
      ref: 42b9a1d6f8baac052411cf68448d29a82c621066
  dartx: ^1.2.0
  email_validator: ^3.0.0
  freezed_annotation: ^2.0.3
  http: ^1.1.0
  intl: '>=0.17.0 <0.21.0'
  json_annotation: ^4.6.0
  meta: ^1.9.0
  oxidized: ^6.1.0
  path: ^1.8.1
  rxdart: ^0.28.0
  stack_trace: ^1.11.0
  time: ^2.1.0
  todo: ^2.0.1

dev_dependencies:
  build_runner: ^2.4.6
  freezed: ^2.4.5
  json_serializable: ^6.7.1
